.table-wrapper {
    height: 40rem;
    overflow: overlay;
    outline: 1px solid var(--border-table);
    border-radius: 12px;

    margin-bottom: 4rem;
}

.table-wrapper::-webkit-scrollbar {
    width: 6px;
}
  
.table-wrapper::-webkit-scrollbar-track {
    margin-top: 65px;
    background: transparent;
}
  
.table-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--border-table);
    border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-corner {
    background-color: transparent;
}

table {
    width: 100%;
    text-align: left;

    border-collapse: collapse;

    background-color: #030B0D;
}

thead tr th {
    padding: 1.6rem 2.4rem 1.6rem 4rem;
    background-color: var(--header-table);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
    color: var(--text-color);
}

tbody tr {
    border-top: 1px solid #4A808C;
    border-bottom: 1px solid #4A808C;
}

tbody tr:nth-child(even) {
    background: var(--par-table);
}

tbody tr td {
    height: 10.4rem;
    padding: 2.4rem 4rem;

    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
    color: var(--text-color);
}

tbody tr td:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

tbody tr td img {
    width: 5.6rem;
    border-radius: 50%;
}

tbody tr a {
    text-decoration: none;
    color: var(--text-color);
}

tbody tr a span {
    font-weight: 400;
}

tbody tr button {
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 160%;
    color: var(--remove-btn);

    cursor: pointer;
}

.empty {
    width: 100%;
    height: 33rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 4rem;
    line-height: 25px;
    color: #4E5455;
}

.empty svg {
    width: 13.2rem;
    height: 12.5rem;
}